process {
  withLabel: circexplorer {
    conda = 'dockerfiles/circexplorer/circexplorer_env.yml'
  }
  withLabel: seq_qc {
    conda = 'dockerfiles/qc/qc_env.yml'
  }
  withLabel: star {
    conda = 'dockerfiles/star/star_env.yml'
  }
  withLabel: mapsplice {
    conda = 'dockerfiles/mapsplice/mapsplice_env.yml'
  }
  withLabel: seqmenehl {
    conda = 'dockerfiles/seqmenehl/seqmenehl_env.yml'
  }
}

/*
profiles {
  profile_name {
  }
}
*/
